<<<<<<< HEAD

<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>




=======
<center><br><h3>Students Basic Profile</h3><br>
<hr />
<p><%= link_to "Add new student", {:action => 'new' }%></p> 
<p><%= link_to "Work on current list of student profiles", {:action => 'list' }%></p> </center>
>>>>>>> a001f37d3d3a19c8f4484823accaaaa0b1801fd9
