<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enrolment_type.name %>
</p>


<%= link_to 'Edit', edit_enrolment_type_path(@enrolment_type) %> |
<%= link_to 'Back', enrolment_types_path %>
