<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @educational_background.student_id %>
</p>


<%= link_to 'Edit', edit_educational_background_path(@educational_background) %> |
<%= link_to 'Back', educational_backgrounds_path %>
