<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @person_address.person_id %>
</p>


<%= link_to 'Edit', edit_person_address_path(@person_address) %> |
<%= link_to 'Back', person_addresses_path %>
