<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @student_referee.student_id %>
</p>


<%= link_to 'Edit', edit_student_referee_path(@student_referee) %> |
<%= link_to 'Back', student_referees_path %>
