<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @higer_education_background.student_id %>
</p>


<%= link_to 'Edit', edit_higer_education_background_path(@higer_education_background) %> |
<%= link_to 'Back', higer_education_backgrounds_path %>
