<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @employment_background.student_id %>
</p>


<%= link_to 'Edit', edit_employment_background_path(@employment_background) %> |
<%= link_to 'Back', employment_backgrounds_path %>
