<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @family_background.student_id %>
</p>


<%= link_to 'Edit', edit_family_background_path(@family_background) %> |
<%= link_to 'Back', family_backgrounds_path %>
